# -------------------------------------------------------------
# Database Configuration (Bare-metal local & Compose init)
# -------------------------------------------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_URL=""

# -------------------------------------------------------------
# Application Runtime Configuration
# -------------------------------------------------------------
PLATFORM=""
JWT_SECRET=""
ALLOWED_ORIGINS=""

# -------------------------------------------------------------
# Argon2id Password Hashing Configuration
# -------------------------------------------------------------
ARGON2ID_MEMORY=""
ARGON2ID_ITERATIONS=""
ARGON2ID_PARALLELISM=""
ARGON2ID_SALT_LENGTH=""
ARGON2ID_KEY_LENGTH=""
